{% extends "layout.html" %}


{% block content %}

<div class="container-fluid" style="padding-top:0px">
  <h3>Hábitos de vida saludable</h3>



    <h4>Hábitos tóxicos:</h4>
    <div class="container-fluid" style="padding-top:0px">
      El tabaco, el alcohol y las drogas inciden de forma muy negativa sobre la salud. La única tolerancia se refiere exclusivamente al vino o la cerveza, de los que incluso se recomienda el consumo del equivalente a una copa diaria.
    </div>

    <h4>Ejercicio físico:</h4>
    <div class="container-fluid" style="padding-top:0px">
      Las recomendaciones generales determinan unos 30 minutos diarios de actividad física, siendo suficiente caminar a paso rápido durante este tiempo. Ello permite quemar las calorías sobrantes y fortalecer músculos y huesos, pero también ayuda a controlar la tensión arterial, el colesterol y los niveles de glucosa en sangre, además de contribuir a la eliminación del estrés y ayudar a dormir mejor, adquirir un estado de relajación y evitar cambios de humor, mejorar la autoestima y el estado de satisfacción personal. También puede ser un buen medio para desarrollar una saludable actividad social cuando el ejercicio se hace en compañía.
    </div>

    <h4>Higiene:</h4>
    <div class="container-fluid" style="padding-top:0px">
      Una higiene adecuada evita muchos problemas de salud: desde infecciones a problemas dentales o dermatológicos. El concepto de higiene no sólo se refiere al aseo y limpieza del cuerpo, sino que afecta también al ámbito doméstico.
      </div>

    <h4>Productos tóxicos:</h4>
    <div class="container-fluid" style="padding-top:0px">
      Son muchos los productos a los que la exposición del organismo, puntual o continuo, puede resultar en un serio riesgo para la salud. La contaminación ambiental de las ciudades está considerado como uno de los factores de riesgo más importantes para la salud.
      </div>

    <h4>Equilibrio mental:</h4>
    <div class="container-fluid" style="padding-top:0px">
      No se refiere a la existencia de enfermedades mentales, sino al estado de bienestar emocional y psicológico, necesario para mantener y desarrollar las capacidades cognitivas, las relaciones sociales y el afrontamiento de los retos personales y profesionales de la vida diaria. El estrés, el cansancio, la irascibilidad, la ansiedad son, entre otros, algunos de los signos que indican que el estado mental no es del todo saludable.
      </div>

    <h4>Actividad social:</h4>
    <div class="container-fluid" style="padding-top:0px">
      Las relaciones sociales son un aspecto fundamental para la salud del ser humano y, en consecuencia, para un envejecimiento saludable. El aislamiento social puede llevar a un deterioro gradual e irreversible de las capacidades físicas y mentales, incluso a la incapacidad física y la demencia.
      </div>
  </div>



</div>

{% endblock %}
