{% extends "layout.html" %}


{% block content %}


<div class="container-fluid">
  <form action="/inputMedico/" method="get">
    {% csrf_token %}

    <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label>Edad</label>
            <input type="number" class="form-control" name="edad" min="0"required>
          </div>

          <div class="form-group">
            <label>Genero</label>
            <select name="genero" class="form-control" >
              <option value="null"> </option>
                  <option value="0">Mujer</option>
                  <option value="1">Hombre</option>
            </select>
          </div>

          <div class="form-group">
            <label>Tipo de dolor de pecho</label>
            <select name="dolor" class="form-control" >
                  <option value="null"></option>
                  <option value="1">Angina típica</option>
                  <option value="2">Angina atípica</option>
                  <option value="3">Dolor no aginoso</option>
                  <option value="4">Asintomático</option>
            </select>
          </div>

          <div class="form-group">
            <label>Presión sanguínea</label>
            <input type="number" class="form-control" name="presion" min="0" required>
          </div>
          <div class="form-group">
            <label>Colesterol</label>
            <input type="number" class="form-control" name="colesterol" min="100" max="400" required>
          </div>

    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label>Azucar en ayunas </label>
        <input type="number" class="form-control" name="azucar" min="0" required>
      </div>
      <div class="form-group">
        <label>Resultado del electrocardiograma</label>
        <select name="electro" class="form-control" >
              <option value="null"> </option>
              <option value="0">Normal</option>
              <option value="1">Anormalidad en ST-T</option>
              <option value="2">Posible hipertrófia en el ventrículo izquierdo por criterios ROMHILT-ESTES</option>

          </select>
        </div>
        <div class="form-group">
          <label>Máximos ritmo cardiaco alcanzado</label>
          <input type="number" class="form-control" name="ritmo" min="0" required>
        </div>
        <div class="form-group">
          <label>Ejercicio inducido a angina</label>
          <select name="angina" class="form-control" >
                <option value="null"> </option>
                <option value="0">No</option>
                <option value="1">Sí</option>
          </select>
        </div>

        <div class="form-group">
          <label>Máximos ritmo cardiaco alcanzado</label>
          <input type="number" class="form-control" name="depresion" min="0" max="5"required>
        </div>


    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 col-md-5"></div>
    <div class="col-sm-4 col-md-2">
      <div style="text-align:center;">
        <button type="submit" class="btn btn-primary">¡Calcular!</button>
      </div>
    </div>
    <div class="col-sm-4 col-md-5"></div>
  </div>

  </form>

</div>

{% endblock %}
